.projects-container {
    padding: 40px;
    background-color: transparent;
    height: 100vh;
}

.projects-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}