.projects-container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 100vh;
    align-items: center;
}

.projects-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3%;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    width: 60%;
}